::placeholder {
    color: black !important;
    opacity: 1 !important;
}

#banner_login{
    display: flex;
    /*border-style: solid;
    border-color:black;*/
}

#titulo{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /*border-style: solid;
    border-color:black;*/
    margin-top: auto;
    margin-bottom: auto;
}

#content{
    background-color: #e5f0f0;
    height: 100vh;
    padding: 20px;
}

#content_credenciales{
    border-radius: 15px;
    padding: 15px;
    margin-top: 6vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

#botones_login{
    text-align: center;
    padding: 10px;
    margin: 0;
}
#content_ventajas{
    padding: 15px;
    padding-top: 5.1vh;
    padding-bottom: 5.1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    height: 40vh;
}

#barra_lateral_izquierda{
    height: 100vh;/* hacemos que la cabecera ocupe el ancho completo de la página */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

#barra_lateral_derecha{
    height: 100vh;/* hacemos que la cabecera ocupe el ancho completo de la página */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

#feed{
    height: 100vh;
    widows: 100vw;
    margin-top: 10px;
}

#encabezado_feed{
    padding: 20px;
}

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

/*  VENTANA EMERGENTE AGREGAR AMIGO */
#ventanaAgregarAmigo{
    display: none;
}

#ventanaEliminarAmigo{
    display: none;
}

.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}

.window-notice .content {
    background: #e1f5fe;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}

#cerrar-modal + label {
   display: none;
}
#mostrar-modal:checked ~ #cerrar-modal + label {
   display: block;
}
#cerrar-modal:checked + label {
   display: none;
}

#imagenes{
    
     max-width: 600px;
     display:block;
     margin: auto;
    
}